
/* title */

.navbar{
    padding: 0 0;
}

.navbar-brand{
    font-size: 2em;
}

.nav-item{
    font-size: 1.2em;
    padding: 0 30px;
}

.nav-item:hover{
    background: #04AA6D;
}

.paid-courses{
    height: 50px;
    width: 200px;
    border-radius: 40px;
    font-size: 1.2em;
}

.paid-courses:hover{
    background: #04AA6D;    
}

.login{
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 40px; 
    background: #04AA6D;
    font-size: 1.2em;
}


/* Navigation */

.nav-lang{
    font-size: 1rem;
    font-weight: bold;
}

.nav-item{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}

.menu-navbar-brand{
    margin-left: 10px;
}

/*left menu scroll bar*/

.list-group{
    height:100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
}

.course-item{
    width:100%;
    height:35px;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.course-heading{
    font-size: 1.2em;
    font-weight: bold;
}

.course-active{
    background: #04AA6D;
    color: white;
}

/*content*/

.example-box{
    background: #e1e5ea;
    padding: 15px 25px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.example{
    background: white;
    padding: 15px 25px;
    border-radius: 5px;
}

.selector-element{
    color: brown;
}

.property{
    color:blue;
}

.value{
    color: red;
}

.example-code{
    letter-spacing: 1px;
    font-family: Consolas,"courier new";
    margin-bottom: 0;
}

.try-it-yourself{
    background: #04AA6D;  
    margin-top: 10px;
    color: white;
}